<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${places.size()}">No places yet</p>

<p>A list of each area(link), how many people are camping in that area, a list of theme
    camps(link) in each area. Clicking on a link should bring up a page showing the names of
    attendees in that area</p>
<p>Something like:</p>

<ul>
    <li th:each="place : ${places}">
        <a th:text="${place.name}"></a>
        <ul>
            <li>Theme Camp Name</li>
        </ul>
    </li>
</ul>

</body>
</html>